
.login-box {
    background-color: rgb(167, 164, 164);
    width: 100%;  
    max-width: 400px; 
    height: auto;
    padding: 2rem; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;  
}


.login-card {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
}

.greeting {
    font-family: 'Dancing Script', cursive;
}

.login-card input {
    width: 100%;  
    padding: 14px;
    margin: 10px 0;
    border: 2px solid #586668; 
    border-radius: 10px;  
    box-sizing: border-box;  
    background : hsl(218deg 50% 91%);
}

.login-card form button{
    background-color: #586668;
}

.login-signup {
    display: flex;
}

.signSpan{
    color: rgb(86, 223, 255);
    cursor: pointer;
}


@media (max-width: 768px) {
    .login-box {
        width: 90%;  
        padding: 1.5rem;  
    }

    .login-card input {
        margin: 8px 0;  
    }
}