.login-card input{
    color: #000000;
    background-color: transparent;
}

.greeting span{
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login-now{
    color: aqua;
    cursor: pointer;
}