
.admin{
    color: aliceblue;
}
.login-box {
    background-color: rgb(18, 65, 151);
    width: 100%;  
    max-width: 400px;  
    height: auto;
    padding: 2rem;  
    box-shadow: 0 4px 8px 0 rgba(172, 4, 4, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;  
    user-select: none;
}


.login-card {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
}

.greeting {
    font-family: 'Times New Roman', Times, serif;
}

.login-card input {
    width: 100%;  
    padding: 14px;
    margin: 10px 0;
    border: 2px solid #0d0d0e;  
    border-radius: 10px;  
    box-sizing: border-box; 
    background : hsla(0, 0%, 100%, 0.842);
}

.login-card form button{
    background-color: #bae5eb93;
}

.login-signup {
    display: flex;
}

.error{
    color: rgb(250, 85, 85);
}


@media (max-width: 768px) {
    .login-box {
        width: 90%;  
        padding: 1.5rem; 
    }

    .login-card input {
        margin: 8px 0; 
    }
}